<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664152909065-omnef621db5spft01jbir8ldi8ah99mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664152909065-omnef621db5spft01jbir8ldi8ah99mj</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Sbg8EXsCwfBne3OW3JRq7IAseyc-D2A</string>
	<key>GCM_SENDER_ID</key>
	<string>664152909065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elwarsha</string>
	<key>PROJECT_ID</key>
	<string>elwarsha-app</string>
	<key>STORAGE_BUCKET</key>
	<string>elwarsha-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664152909065:ios:5465f8516b24e008af1fd8</string>
</dict>
</plist>